/* background image */
body, html {
  height: 100%;
}

h3 {
  text-align: center;
}

div {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.bg {
  background-image: url('img/background.jpg');
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* styling emoticons */
.row {
    width: 980px;
    float: left;
    margin: 0 20%;
    text-align: center;
}

.column {
    width: 25%;
    float: left;
    height: 150px;
    padding: 5px;
}

/* input form field */
.input-field {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

figcaption {
  font-family: "LogicoSansRegular";
  font-weight: bold;
  font-size: 25px;
}

/* fonts */
@font-face {
  font-family: "moderna";
  src: url(fonts/moderna.ttf) format("truetype");
}

@font-face {
  font-family: "LogicoSansRegular";
  src: url(fonts/LogicoSansRegular.ttf) format("truetype");
}

/* title and description styling */
.emotone {
  position: absolute;
  bottom: 65%;
  left: 10%;
  background: transparent;
  margin: 0;
  font-family: "moderna";
  color: white;
  font-weight: bold;
  font-size: 160px;
}

.description {
  position: absolute;
  bottom: 40%;
  left: 20%;
  background: transparent;
  margin: 0;
  font-family: "LogicoSansRegular";
  color: white;
  font-weight: normal;
  font-size: 25px;
  text-align: left;
}

.start-btn {
  position: absolute;
  bottom: 25%;
  left: 43%;
  background: transparent;
  margin: 0;
  color: white;
}

#emotions {
  color: rgb(255, 0, 83);
  font-weight: bold;
}

/* button text styling */
.submit-btn {
  color: #fff
}

.start {
  color: rgb(255, 0, 83);
}

.rec-btn {
  color: #fff
}

/* animation on hover */
img:hover {
  animation: shake 0.8s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
