/* background image */
body, html {
  height: 100%;
}

h3 {
  text-align: center;
}

div {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.bg {
  background-image: url('img/background.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* styling emoticons */
.row {
    width: 980px;
    float: left;
    margin: 0 20%;
    text-align: center;
}

.column {
    width: 25%;
    float: left;
    height: 150px;
    padding: 5px;
}

/* input form field */
.input-field {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

figcaption {
  font-family: "LogicoSansRegular";
  font-weight: bold;
  font-size: 25px;
}

/* fonts */
@font-face {
  font-family: "moderna";
  src: url(fonts/moderna.ttf) format("truetype");
}

@font-face {
  font-family: "LogicoSansRegular";
  src: url(fonts/LogicoSansRegular.ttf) format("truetype");
}

/* title and description styling */
.emotone {
  position: absolute;
  bottom: 65%;
  left: 15%;
  background: transparent;
  margin: 0;
  font-family: "moderna";
  color: white;
  font-weight: bold;
  font-size: 160px;
}

.description {
  position: absolute;
  bottom: 38%;
  left: 25%;
  background: transparent;
  margin: 0;
  font-family: "LogicoSansRegular";
  color: white;
  font-weight: normal;
  font-size: 25px;
  text-align: left;
}

.start-btn {
  position: absolute;
  bottom: 25%;
  left: 43%;
  background: transparent;
  margin: 0;
  color: white;
}

#emotions {
  color: rgb(255, 0, 83);
  font-weight: bold;
}

/* button text styling */
.submit-btn {
  color: #fff
}

.start {
  color: rgb(255, 0, 83);
}

.rec-btn {
  color: #fff
}

#rec {
  background: transparent;
  border: none;
}

/* animation on hover */
img:hover {
  animation: shake 0.8s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}



particlesJS("bg", {
  "particles": {
    "number": {
      "value": 80,
      "density": {
        "enable": true,
        "value_area": 800
      }
    },
    "color": {
      "value": "random"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#000000"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 0.5,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 1,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 3,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 40,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": false,
      "distance": 150,
      "color": "#ffffff",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 1,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": false,
        "mode": "repulse"
      },
      "onclick": {
        "enable": false,
        "mode": "push"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 400,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 400,
        "size": 40,
        "duration": 2,
        "opacity": 8,
        "speed": 3
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});
